ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p {
  margin: 0;
}
.wrap-tab {
  overflow: hidden;
}

.list-tab {
  display: flex;
  margin: 0 -2px;
  border-bottom: 3px solid #5bbee5;
}
.list-tab > li {
  display: block;
  padding: 0.5em 1em;
  margin: 0 2px;
  width: 100%;
  color: #fff;
  text-align: center;
  background: #ccc;
  box-sizing: border-box;
  cursor: pointer;
}

.list-tab .active {
  background: #5bbee5;
}

.tab-content {
  display: none;
  padding: 1em;
  border-bottom: 1px solid #5bbee5;
  border-left: 1px solid #5bbee5;
  border-right: 1px solid #5bbee5;
}
.tab-content.active {
  display: block;
}

.area_section {
  border: 0px dotted #999;
}

.area_section .area_head {
  border: 0px dotted #999;
}

.area_section .area_list {
  border: 0px dotted #999;
  display: flex;
  flex-flow: row;
  justify-content: stretch;
  flex-wrap: wrap;
}

.area_section .area_list .area_list__dt {
  margin: 0;
  flex-basis: 30%;
  justify-content: stretch;
  align-items: center;
  border-bottom: 1px solid #ddd;
  background: #eee;
  text-indent: 1em;
}

.area_section .area_list .area_list__dd {
  margin: 0;
  flex-basis: 70%;
  justify-content: stretch;
  align-items: center;
  border-bottom: 1px solid #eee;
  text-indent: 1em;
}

.area_section .area_list .area_list__dd .area_list__ul {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: stretch;
  flex-wrap: wrap;
}

.area_section .area_list .area_list__dd .area_list__ul li {
  flex-basis: 49%;
}
